{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 

<div class="container mt-4 ">
    <h2 class="text-center">All Posts</h2>
    <div class="row d-flex justify-content-center">
        {% for post in posts %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    {% if post.img %}
                    <img src="{{ post.img.url }}" class="card-img-top" alt="Post Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.user.username }}</h5>
                        <h5 class="card-title">{{ post.title }}</h5>
                        {% comment %} <p class="card-text">{{ post.text }}</p> {% endcomment %}
                        <p class="card-text text-truncate" style="max-height: 100px; overflow: hidden;" id="shortText{{post.id}}">{{ post.text }}</p>
                        <!-- Hidden Full Text -->
                        <div class="collapse" id="fullText{{post.id}}">
                            <p class="card-text">{{ post.text}}</p>
                        </div>
                        <button class="btn btn-primary mt-2" data-bs-toggle="collapse" data-bs-target="#fullText{{post.id}}" onclick="toggleText()">Read More</button>
                        <p class="text-muted">{{ post.updated_at }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No posts yet.</p>
        {% endfor %}
    </div>
</div>


{% endblock %}
{% block title %} Home {% endblock %}