{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'postcreate' %}">create Post</a>
        <div class="ms-auto">
            <a href="{% url 'home' %}" class="btn btn-secondary">Feed</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="text-center">{{ request.user.username }}'s Posts</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                    <h5 class="card-title">{{ post.user.username }}</h5>
                    {% if post.img %}
                    <img src="{{ post.img.url }}" class="card-img-top" alt="Post Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {% comment %} <p class="card-text">{{ post.text }}</p> {% endcomment %}
                        <p class="card-text text-truncate" style="max-height: 100px; overflow: hidden;" id="shortText{{post.id}}">{{ post.text }}</p>
                        <!-- Hidden Full Text -->
                        <div class="collapse" id="fullText{{post.id}}">
                            <p class="card-text">{{ post.text}}</p>
                        </div>
                        <button class="btn btn-primary mt-2" data-bs-toggle="collapse" data-bs-target="#fullText{{post.id}}" onclick="toggleText()">Read More</button>
                        <p class="text-muted">{{ post.updated_at }}</p>
                        <form action="{% url 'deletepost' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you wnat to delete this post')">Delete</button>
                        </form>
                        {% comment %} <a href="{% url 'deletepost' post.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
                        <a href="{% url "updatepost" post.id %}" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">You haven't posted anything yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block title %} my profile {% endblock %}