{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'postcreate' %}">create Post</a>
        <div class="ms-auto">
            <a href="{% url 'home' %}" class="btn btn-secondary">Feed</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="text-center">{{ request.user.username }}'s Posts</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                    <h5 class="card-title">{{ post.user.username }}</h5>
                    <img src="{{ post.img.url }}" class="card-img-top" alt="Post Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.text }}</p>
                        <p class="text-muted">{{ post.updated_at }}</p>
                        <a href="{% url 'deletepost' post.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url "updatepost" post.id %}" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">You haven't posted anything yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block title %} my profile {% endblock %}